.highlight {
    background-color: rgb(32, 171, 218);
    color: rgb(85, 0, 0);
    font-weight: bold;
}

.titled{
    text-align: center;
    color: brown;
    background-color: lightgray;
}

.bit{
    background-color: yellow;
}

.container{

}